<!DOCTYPE html>
<html>
  <head>
    <title>ReposSearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>

  <% flash.each do |type, message| %>
    <div class="flash <%= type %>">
      <%= message %>
    </div>
  <% end %>

  <%= yield %>
  </body>
</html>
